<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Start-Button-Tester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC8057B21D51740B00E7C4E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8057C61D51740B00E7C4E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8057D11D51740B00E7C4E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
