<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Master Project - Roardash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCC2ADB91D53ABAC00740559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC2ADD11D53ABAC00740559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC2ADDC1D53ABAC00740559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
