<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Running Screen Single View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCB777AC1D5233E9003C6EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCB777C01D5233E9003C6EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCB777CB1D5233E9003C6EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
